* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 620px;
    min-height: 500px;
    background: #c8cad1;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 32px 0;
    color: rgb(43, 38, 38);
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #78d2e2;
    outline: none;
    width: 320px;
    background: whitesmoke;
    color: rgb(46, 41, 41);
}

.todo-input::placeholder {
    color: #201d1d;
}

.todo-button {
    padding: 14px;
    border: 1px solid #78d2e2;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #edf5f4;
    color: #78d2e2;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 1px solid #78d2e2;
}

.todo-button.edit {
    background: #edf5f4;
    padding: 14px 20px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px auto;
    color: rgb(15, 14, 14);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: rgb(209, 24, 24);
}

.edit-icon {
    color: rgb(8, 120, 128);
}

.complete-icon {
    color: green;
}

.clear-button {
    height: 50px;
    width: 80px;
    padding: 4px;
    margin-left: 250px;
    border: 1px solid #78d2e2;
    border-radius: 5%;
    cursor: pointer;
    outline: none;
}